/* CSS Document */
* {
	margin:0px;
	padding:0px;
	background-color:#D9EEAA;
}

body { overflow:scroll; min-width:960px;}

ul li {
	list-style-type:none;
	margin:5px;
}

p {
	font-family:Verdana, Geneva, sans-serif;
	font-size:85%;
	color:#3E5F22;
}

p a, p a:link, p a:visited, p a:hover {
	font-family:Verdana, Geneva, sans-serif;
	font-size:90%;
	color:#3E5F22;
}

#navigation a, #navigation a:link, #navigation a:visited, #navigation a:hover {
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	color:#3E5F22;
	text-decoration:none;
}

#header-left {
	float:left;
	position:relative;
	width:20%;
	height:126px;
}

#header-middle {
	float:left;
	width:40%;
	height:126px;
	left:20%;
}

#header-right {
	float:right;
	width:40%;
	height:126px;
}

#navigation {
	position:absolute;
	left:30%;
	top:120%;
	width:100%;
}

#linie-eins {
	position:absolute;
	top:60%;
	left:20%;
}

#linie-zwei {
	position:absolute;
	left:135%;
	top:60%;
}

#visitenkarte {
	position:absolute;
	left:250%;
	top:130%;
	width:200%;
	height:250%;
}

#news {
	position:absolute;
	left:150%;
	top:150%;
	width:340%;
}

#news img {
	width: 70%;
}

#frankfurterstrasse {
	position:absolute;
	left:300%;
	top:250%;
	width:100%;
	height:100%;
}
