/* CSS Document */

#erster-textabschnitt {
	position:absolute;
	left:155%;
	top:110%;
	width:140%;
}

#zweiter-textabschnitt {
	position:absolute;
	left:310%;
	top:110%;
	width:160%;
}

p {
	font-family:Verdana, Geneva, sans-serif;
	color:#3E5F22;
}
